<div>
<h1>Enter your destination</h1>

<!-- <input vs-google-autocomplete
                ng-model="address.name" 

                vs-street-number="address.components.streetNumber"
                vs-street="address.components.street"
                vs-city="address.components.city"
                vs-state="address.components.state"
                vs-country="address.components.country"
                vs-post-code="address.components.postCode"

                type="text" 
                name="address"
                id="address"
                class="form-control" 
                placeholder="Hogwarts School of Witchcraft and Wizardry ">
 <span class="help-block"><b>State: </b>{{address.components.state}}</span>
 -->
<input type="text" ng-model="destination">
<h2>The tax would be</h2>
<input type="text" ng-model="tax">	
<button ng-click="doTax()">Calculate the tax</button>
</div>
	